body {
  margin: 0;

}

a {
  color: #1890ff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.contenido {
  position: relative;

}

.tablas {
  padding-left: 40px;
  padding-right: 40px;
}

.editor-fila {
  padding-left: 60px;
  padding-right: 60px;
}

.etiqueta {
  font-size: 0.8rem;
}

.grande {
  font-size: 1rem;
}

.titulo {
  font-size: 1.3rem;
}

.selected-row {
  background-color: #EFEFEF;
}