body {
  margin: 0;

}

.contenido {
  position: relative;

}

.tablas {
  padding-left: 40px;
  padding-right: 40px;
}

.barra-lateral {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 350px;
  background: white;
  padding-bottom: 10px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  z-index: 100;
  overflow: scroll;
}

.etiqueta {
  font-size: 0.8rem;
}

.grande {
  font-size: 1rem;
}

.titulo {
  font-size: 1.3rem;
}